<footer class="bayaan-products-footer" role="contentinfo">
  <div class="bayaan-products-footer__inner">
    <div class="bayaan-products-footer__grid">
      <div class="bayaan-products-footer__brand">
        <img
          class="bayaan-products-footer__brand-logo bayaan-products-footer__brand-logo--light"
          src="assets/bayaan-logo.svg"
          alt="Bayaan"
          width="119"
          height="45"
        />
        <img
          class="bayaan-products-footer__brand-logo bayaan-products-footer__brand-logo--dark"
          src="assets/bayaan-logo-white.svg"
          alt="Bayaan"
          width="119"
          height="45"
        />
      </div>

      <div class="bayaan-products-footer__col">
        <h2 class="bayaan-products-footer__col-title">Bayaan</h2>
        <ul class="bayaan-products-footer__links">
          <li><a href="#">Glossary</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">About Us</a></li>
          <!-- <li><a href="#">Contact Us</a></li> -->
        </ul>
      </div>

      <div class="bayaan-products-footer__col">
        <h2 class="bayaan-products-footer__col-title">Support</h2>
        <ul class="bayaan-products-footer__links">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Contact Support</a></li>
          <li><a href="#">Guides</a></li>
        </ul>
      </div>

      <div class="bayaan-products-footer__col">
        <h2 class="bayaan-products-footer__col-title">Location</h2>
        <div class="bayaan-products-footer__location">
          <p>
            Headquarter – DGE, Twofour 54<br />
            Building, Building 6 – Abu Dhabi
          </p>
          <p class="bayaan-products-footer__location-item">
            <img class="bayaan-products-footer__location-icon" src="images/e-mail-icon-filled.svg" alt="" width="13" height="9" />
            <a href="mailto:info@scad.gov.ae">Info@scad.gov.ae</a>
          </p>
          <p class="bayaan-products-footer__location-item">
            <img class="bayaan-products-footer__location-icon" src="images/phone-icon-filled.svg" alt="" width="10" height="10" />
            <a href="tel:800555">800 555</a>
          </p>
          <p class="bayaan-products-footer__location-item">
            <img class="bayaan-products-footer__location-icon" src="images/post-icon-filled.svg" alt="" width="17" height="9" />
            <span>PO. Box 6036</span>
          </p>
        </div>
      </div>

      <div class="bayaan-products-footer__partners" aria-label="Partner organisations">
        <img
          class="bayaan-products-footer__partner-logo bayaan-products-footer__partner-logo--emirates"
          src="images/emirates-icon.svg"
          alt="The Emirates"
          width="203"
          height="68"
        />
        <span class="bayaan-products-footer__partner-divider" aria-hidden="true"></span>
        <img
          class="bayaan-products-footer__partner-logo bayaan-products-footer__partner-logo--scad"
          src="images/scad-center-logo.svg"
          alt="Statistics Centre Abu Dhabi"
          width="150"
          height="65"
        />
      </div>
    </div>

    <div class="bayaan-products-footer__bar">
      <p class="bayaan-products-footer__copy">
        Copyright &copy; 2026 Statistics Center Abu Dhabi. All Rights Reserved.
      </p>
      <ul class="bayaan-products-footer__legal">
        <li><a href="#">Raise a Complaint</a></li>
        <li><a href="#">Terms and conditions</a></li>
        <li><a href="#">User Agreement</a></li>
        <li><a href="#">Privacy policy</a></li>
      </ul>
    </div>
  </div>
</footer>
